n8n/seo_content_generator.workflow.json
{
  "name": "SEO Automation MVP",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "SERP_Input"
      },
      "id": "read-serp-input",
      "name": "Read SERP_Input",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        470,
        160
      ],
      "notes": "Configure credentials and set operation to read rows. Add row_number in Google Sheets output if you want update-by-row later."
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "SEO_Input"
      },
      "id": "read-seo-input",
      "name": "Read SEO_Input",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        470,
        360
      ],
      "notes": "Configure credentials and set operation to read rows. Add row_number in Google Sheets output if you want update-by-row later."
    },
    {
      "parameters": {
        "jsCode": "const rows = items.filter(item => String(item.json.status || '').toLowerCase() === 'pending');\nreturn rows.length ? [rows[0]] : [];"
      },
      "id": "pick-serp-pending",
      "name": "Pick First SERP Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = items.filter(item => String(item.json.status || '').toLowerCase() === 'pending');\nreturn rows.length ? [rows[0]] : [];"
      },
      "id": "pick-seo-pending",
      "name": "Pick First SEO Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERP_API_KEY }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        }
      },
      "id": "call-serp-api",
      "name": "Call SERP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        160
      ],
      "notes": "Replace with ValueSERP if preferred."
    },
    {
      "parameters": {
        "jsCode": "const tokenize = (text) => (String(text || '').match(/[\\u4e00-\\u9fff]{2}|[a-zA-Z0-9-]{2,}/g) || []).map((token) => token.toLowerCase());\nconst stop = new Set(['推薦', '怎麼', '完整', '指南', 'the', 'and', 'for', 'with']);\nconst classifyTheme = (text) => {\n  const source = String(text || '');\n  if (/價格|費用|資費|price|cheap/i.test(source)) return 'pricing';\n  if (/比較|評比|review|compare/i.test(source)) return 'comparison';\n  if (/速度|流量|網速|吃到飽|speed|data/i.test(source)) return 'features';\n  if (/學生|家庭|新手|family|student/i.test(source)) return 'audience';\n  return 'general';\n};\nconst organic = ($json.organic_results || []).slice(0, 10);\nreturn organic.map((row, index) => {\n  const text = [row.title, row.snippet || row.description || ''].join(' ');\n  const counts = new Map();\n  tokenize(text).forEach((token) => {\n    if (!stop.has(token) && token.length >= 2) counts.set(token, (counts.get(token) || 0) + 1);\n  });\n  const topEntities = [...counts.entries()].sort((a, b) => b[1] - a[1]).slice(0, 5).map(([token, count]) => `${token} (${count})`).join(', ');\n  return { json: { timestamp: new Date().toISOString(), input_row: $item(0).$node['Pick First SERP Pending'].json.row_number || '', keyword: $item(0).$node['Pick First SERP Pending'].json.keyword || '', position: index + 1, title: row.title || '', link: row.link || row.url || '', snippet: row.snippet || row.description || '', top_entities: topEntities, entity_count: counts.size, entity_theme: classifyTheme(text), mode: 'live' } };\n});"
      },
      "id": "format-serp-results",
      "name": "Format SERP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        160
      ],
      "notes": "Uses a lightweight heuristic to approximate Apps Script entity parsing."
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "SERP_Results"
      },
      "id": "write-serp-results",
      "name": "Write SERP_Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        160
      ],
      "notes": "Configure operation to append rows."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"Return exactly the requested sections.\"},{\"role\":\"user\",\"content\":\"Keyword: {{$json.keyword}}\\nProduct: {{$json.product}}\\nScenario: {{$json.scenario}}\\nOutput folder: {{$json.output_folder || 'default'}}\\n\\nReturn sections:\\n=== ARTICLE ===\\n=== IMAGE_PROMPT_25 ===\\n=== IMAGE_PROMPT_50 ===\\n=== IMAGE_PROMPT_75 ===\\n=== QUALITY_NOTES ===\\n=== IMPROVEMENT_POINTS ===\\n=== REVISED_ARTICLE ===\"}]}"
      },
      "id": "call-openai",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        360
      ],
      "notes": "Swap for Anthropic if needed."
    },
    {
      "parameters": {
        "jsCode": "const text = $json.choices?.[0]?.message?.content || '';\nconst pickInput = $item(0).$node['Pick First SEO Pending'].json;\nconst grab = (name, next) => {\n  const pattern = next ? new RegExp(`===\\\\s*${name}\\\\s*===([\\\\s\\\\S]*?)===\\\\s*${next}\\\\s*===`) : new RegExp(`===\\\\s*${name}\\\\s*===([\\\\s\\\\S]*)$`);\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n};\nconst keyword = pickInput.keyword || '';\nconst image25 = `https://dummyimage.com/1200x675/f3f4f6/111827&text=${encodeURIComponent(keyword)}+25%25`;\nconst image50 = `https://dummyimage.com/1200x675/f3f4f6/111827&text=${encodeURIComponent(keyword)}+50%25`;\nconst image75 = `https://dummyimage.com/1200x675/f3f4f6/111827&text=${encodeURIComponent(keyword)}+75%25`;\nconst article = grab('ARTICLE', 'IMAGE_PROMPT_25');\nconst articleWithImages = [article, '', `[IMAGE_25] ${image25}`, '', `[IMAGE_50] ${image50}`, '', `[IMAGE_75] ${image75}`].join('\\n');\nreturn [{ json: { timestamp: new Date().toISOString(), input_row: pickInput.row_number || '', keyword, product: pickInput.product || '', scenario: pickInput.scenario || '', article, image_prompt_25: grab('IMAGE_PROMPT_25', 'IMAGE_PROMPT_50'), image_prompt_50: grab('IMAGE_PROMPT_50', 'IMAGE_PROMPT_75'), image_prompt_75: grab('IMAGE_PROMPT_75', 'QUALITY_NOTES'), article_with_images: articleWithImages, image_url_25: image25, image_url_50: image50, image_url_75: image75, quality_notes: grab('QUALITY_NOTES', 'IMPROVEMENT_POINTS'), improvement_points: grab('IMPROVEMENT_POINTS', 'REVISED_ARTICLE'), revised_article: grab('REVISED_ARTICLE'), output_folder: pickInput.output_folder || 'default', mode: 'live' } }];"
      },
      "id": "parse-seo-sections",
      "name": "Parse SEO Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "SEO_Output"
      },
      "id": "write-seo-output",
      "name": "Write SEO_Output",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        360
      ],
      "notes": "Configure operation to append rows."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read SERP_Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read SEO_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read SERP_Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read SEO_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SERP_Input": {
      "main": [
        [
          {
            "node": "Pick First SERP Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick First SERP Pending": {
      "main": [
        [
          {
            "node": "Call SERP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call SERP API": {
      "main": [
        [
          {
            "node": "Format SERP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format SERP Results": {
      "main": [
        [
          {
            "node": "Write SERP_Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SEO_Input": {
      "main": [
        [
          {
            "node": "Pick First SEO Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick First SEO Pending": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse SEO Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SEO Sections": {
      "main": [
        [
          {
            "node": "Write SEO_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "seo-mvp-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}
